In [39]:
import pandas as pd
import requests
import numpy as np


NPdf = pd.read_csv('neighbourhood-profiles-2016-csv.csv', index_col= "_id")

#Creating Neighbourhoood Profile dataframe
#Importing and reading CSV file

NPdf.head()

In [40]:
NPdf.reset_index(drop=True, inplace=True)
NPdf.set_index("Category", inplace=True)
NPdf.head()

#Data cleaning
#Resetting index to narrow down unwanted columns + rows

,Topic,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
Category,,,,,,,,,,,,,,,,,,,,,
Neighbourhood Information,Neighbourhood Information,City of Toronto,Neighbourhood Number,NaN,129,128,20,95,42,34,...,37,7,137,64,60,94,100,97,27,31
Neighbourhood Information,Neighbourhood Information,City of Toronto,TSNS2020 Designation,NaN,No Designation,No Designation,No Designation,No Designation,No Designation,No Designation,...,No Designation,No Designation,NIA,No Designation,No Designation,No Designation,No Designation,No Designation,NIA,Emerging Neighbourhood
Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2016","2,731,571","29,113","23,757","12,054","30,526","27,695","15,873",...,"16,936","22,156","53,485","12,541","7,865","14,349","11,817","12,528","27,593","14,804"
Population,Population and dwellings,Census Profile 98-316-X2016001,"Population, 2011","2,615,060","30,279","21,988","11,904","29,177","26,918","15,434",...,"15,004","21,343","53,350","11,703","7,826","13,986","10,578","11,652","27,713","14,687"
Population,Population and dwellings,Census Profile 98-316-X2016001,Population Change 2011-2016,4.50%,-3.90%,8.00%,1.30%,4.60%,2.90%,2.80%,...,12.90%,3.80%,0.30%,7.20%,0.50%,2.60%,11.70%,7.50%,-0.40%,0.80%

In [ ]:
NPdf = NPdf.drop(['Aboriginal peoples'])
NPdf = NPdf.drop(['Education']) 
NPdf = NPdf.drop(['Families, households and marital status']) 
NPdf = NPdf.drop(['Housing']) 
NPdf = NPdf.drop(['Immigration and citizenship']) 
NPdf = NPdf.drop(['Journey to work']) 
NPdf = NPdf.drop(['Labour']) 
NPdf = NPdf.drop(['Language']) 
NPdf = NPdf.drop(['Language of work']) 
NPdf = NPdf.drop(['Mobility']) 
NPdf = NPdf.drop(['Neighbourhood Information']) 
NPdf = NPdf.drop(['Population']) 
NPdf = NPdf.drop(['Visible minority'])

#Dropping all the unwanted columns

In [5]:
NPdf.reset_index(drop=True, inplace=True)
NPdf.set_index("Topic", inplace=True)
NPdf.head()

#Resetting the index as "Topic" to further clean dataset

,Data Source,Characteristic,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
Topic,,,,,,,,,,,,,,,,,,,,,
Income of households in 2015,Census Profile 98-316-X2016001,"$150,000 to $199,999","77,810",595,475,560,"1,130",935,505,750,...,565,760,855,625,365,460,430,465,445,380
Income of individuals in 2015,Census Profile 98-316-X2016001,"$60,000 to $69,999","114,460",865,825,690,"1,460","1,425",685,"1,250",...,735,"1,055","1,665",600,420,620,595,720,895,530
Income of individuals in 2015,Census Profile 98-316-X2016001,"$70,000 to $79,999","89,645",655,570,530,"1,290","1,220",535,"1,090",...,605,790,"1,230",540,400,505,520,585,585,380
Income of individuals in 2015,Census Profile 98-316-X2016001,"$80,000 to $89,999","69,990",435,435,395,"1,000",960,405,925,...,515,585,800,465,315,345,415,495,405,320
Income of individuals in 2015,Census Profile 98-316-X2016001,"$90,000 to $99,999","58,210",365,315,370,830,820,360,700,...,475,565,580,465,265,335,360,425,250,245

In [6]:
NPdf = NPdf.drop(['Income of individuals in 2015', 'Income of economic families in 2015', 'Income sources', 'Income taxes', 'Low income in 2015'])
#Dropping more columns

In [7]:
NPdf.reset_index(drop=True, inplace=True)
NPdf = NPdf.drop(["Data Source"], axis=1)
NPdf = NPdf.drop_duplicates(subset = "Characteristic", keep = "first")

#Resetting the index 
#Removing duplicate values under "Characteristic" column

In [8]:
NPdf.set_index("Characteristic", inplace=True)
NPdf.info()

#Setting index column as "Characteristic"

<class 'pandas.core.frame.DataFrame'>
Index: 319 entries,     $150,000 to $199,999 to  Pacific Islands origins; n.i.e.
Columns: 141 entries, City of Toronto to Yorkdale-Glen Park
dtypes: object(141)
memory usage: 353.9+ KB

In [9]:
NPdf = NPdf.dropna()

#Dropping all null values

In [10]:
NPdf = NPdf.drop(['Total - Income statistics in 2015 for private households by household size - 100% data', '    Total - Income statistics in 2015 for one-person private households - 100% data'])

#Dropping further columns to filter out specific income related data values

In [11]:
NPdf = NPdf.drop(['    Total - Income statistics in 2015 for two-or-more-person private households - 100% data', 'Total - Income statistics in 2015for private households by household size - 25% sampledata'])

#Dropping further columns to filter out specific income related data values

In [12]:
NPdf = NPdf.drop(['  Average after-tax income of households in 2015 ($)','    Total - Income statistics in 2015 for one-person private households - 25% sample data'])

#Dropping further columns to filter out specific income related data values

In [13]:
NPdf= NPdf.drop(['Total - Household total income groups in 2015 for private households - 100% data','Total - Household after-tax income groups in 2015 for private households - 100% data', '    Total - Income statistics in 2015 for two-or-more-person private households - 25% sample data'])

#Dropping further columns to filter out specific income related data values

In [14]:
NPdf.head()

,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,Bayview Woods-Steeles,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
Characteristic,,,,,,,,,,,,,,,,,,,,,
"$150,000 to $199,999","77,810",595,475,560,"1,130",935,505,750,665,415,...,565,760,855,625,365,460,430,465,445,380
"$15,000 to $19,999","54,025",450,265,90,740,400,415,690,330,130,...,605,295,"1,170",315,195,395,175,220,520,220
"$100,000 to $124,999","100,810",955,790,520,"1,220","1,135",590,"1,025",855,475,...,635,880,"1,660",520,380,455,460,580,825,515
"$125,000 to $149,999","68,300",640,475,480,905,780,410,730,630,355,...,485,620,"1,030",435,300,370,350,435,490,345
"Under $5,000","33,195",155,315,55,850,265,130,"2,510",585,90,...,560,90,435,65,55,120,205,215,345,100

In [15]:
NPdf = NPdf.drop_duplicates(keep = "first")

#Dropping any duplicates, leaving the first value to stay within dataframe

In [17]:
NPdf

,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,Bayview Woods-Steeles,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
Characteristic,,,,,,,,,,,,,,,,,,,,,
"$150,000 to $199,999","77,810",595,475,560,"1,130",935,505,750,665,415,...,565,760,855,625,365,460,430,465,445,380
"$15,000 to $19,999","54,025",450,265,90,740,400,415,690,330,130,...,605,295,"1,170",315,195,395,175,220,520,220
"$100,000 to $124,999","100,810",955,790,520,"1,220","1,135",590,"1,025",855,475,...,635,880,"1,660",520,380,455,460,580,825,515
"$125,000 to $149,999","68,300",640,475,480,905,780,410,730,630,355,...,485,620,"1,030",435,300,370,350,435,490,345
"Under $5,000","33,195",155,315,55,850,265,130,"2,510",585,90,...,560,90,435,65,55,120,205,215,345,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Pacific Islands origins,"1,025",0,0,0,10,0,0,10,20,0,...,0,10,80,10,0,0,20,10,0,0
Fijian,465,0,0,0,0,0,0,0,10,0,...,0,0,65,0,0,0,0,0,10,0
Polynesian; n.o.s.,65,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,10,0,0
Samoan,75,0,0,0,0,0,0,0,0,0,...,0,10,10,0,0,0,0,0,0,0
Pacific Islands origins; n.i.e.,220,0,0,0,10,0,0,0,10,0,...,0,0,0,10,0,0,10,0,0,0

In [18]:
NPdf= NPdf.T

#Transposing datafram to be able to get the characterisitcs as columns, with neighbourhoods as rows

In [19]:
NPdf = NPdf.drop(['    $150,000 to $199,999', '    $100,000 to $124,999', '    $125,000 to $149,999', '    $200,000 and over'], axis = 1)

#Dropping further columns to filter out specific income related data values

In [20]:
NPdf.head()

Characteristic,"$15,000 to $19,999","Under $5,000","$5,000 to $9,999","$10,000 to $14,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999",...,Other Asian origins,Other Asian origins; n.i.e.,Oceania origins,Australian,New Zealander,Pacific Islands origins,Fijian,Polynesian; n.o.s.,Samoan,Pacific Islands origins; n.i.e.
City of Toronto,"54,025","33,195","23,455","36,550","47,315","47,500","46,945","47,115","46,285","44,650",...,"4,605","4,605","5,790","3,705","1,230","1,025",465,65,75,220
Agincourt North,450,155,105,160,320,540,420,455,420,435,...,150,135,10,0,0,0,0,0,0,0
Agincourt South-Malvern West,265,315,140,195,315,400,370,385,370,415,...,50,55,0,0,0,0,0,0,0,0
Alderwood,90,55,45,80,145,150,155,170,160,165,...,0,0,0,10,0,0,0,0,0,0
Annex,740,850,485,655,620,530,525,555,540,505,...,30,25,140,110,15,10,0,0,0,10

In [21]:
print(NPdf.columns)

Index(['  $15,000 to $19,999', '  Under $5,000', '  $5,000 to $9,999',
       '  $10,000 to $14,999', '  $20,000 to $24,999', '  $25,000 to $29,999',
       '  $30,000 to $34,999', '  $35,000 to $39,999', '  $40,000 to $44,999',
       '  $45,000 to $49,999',
       ...
       ' Other Asian origins', ' Other Asian origins; n.i.e.',
       ' Oceania origins', ' Australian', ' New Zealander',
       ' Pacific Islands origins', ' Fijian', ' Polynesian; n.o.s.', ' Samoan',
       ' Pacific Islands origins; n.i.e.'],
      dtype='object', name='Characteristic', length=295)

In [22]:
for col in NPdf.columns:
    print(col)
    
#Seeing all the income related and ethnicity related columns within dataframe

  $15,000 to $19,999
  Under $5,000
  $5,000 to $9,999
  $10,000 to $14,999
  $20,000 to $24,999
  $25,000 to $29,999
  $30,000 to $34,999
  $35,000 to $39,999
  $40,000 to $44,999
  $45,000 to $49,999
  $50,000 to $59,999
  $60,000 to $69,999
  $70,000 to $79,999
  $80,000 to $89,999
  $90,000 to $99,999
  $100,000 and over
 Guadeloupean
 Scottish
Total - Ethnic origin for the population in private households - 25% sample data
 North American Aboriginal origins
 First Nations (North American Indian)
 Inuit
 Mtis
 Other North American origins
 Acadian
 American
 Canadian
 New Brunswicker
 Newfoundlander
 Nova Scotian
 Ontarian
 Qubcois
 Portuguese
 Other North American origins; n.i.e.
 European origins
 British Isles origins
 Channel Islander
 Cornish
 English
 Irish
 Manx
 Welsh
 British Isles origins; n.i.e.
 French origins
 Alsatian
 Breton
 Corsican
 French
 Western European origins (except French origins)
 Austrian
 Bavarian
 Belgian
 Dutch
 Flemish
 Frisian
 German
 Luxembourger
 Swiss
 Western European origins; n.i.e.
 Northern European origins (except British Isles origins)
 Danish
 Finnish
 Icelandic
 Norwegian
 Swedish
 Northern European origins; n.i.e.
 Eastern European origins
 Bulgarian
 Caribbean origins
 Byelorussian
 Czech
 Czechoslovakian; n.o.s.
 Estonian
 Hungarian
 Latvian
 Lithuanian
 Moldovan
 Polish
 Romanian
 Russian
 Slovak
 Ukrainian
 Eastern European origins; n.i.e.
 Southern European origins
 Albanian
 Bosnian
 Catalan
 Croatian
 Cypriot
 Greek
 Italian
 Kosovar
 Macedonian
 Maltese
 Montenegrin
 Serbian
 Sicilian
 Slovenian
 Spanish
 Yugoslavian; n.o.s.
 Southern European origins; n.i.e.
 Antiguan
 Other European origins
 Basque
 Jewish
 Roma (Gypsy)
 Slavic; n.o.s.
 Other European origins; n.i.e.
 Bahamian
 Barbadian
 Bermudan
 Carib
 Cuban
 Dominican
 Grenadian
 Haitian
 Jamaican
 Kittitian/Nevisian
 Martinican
 Montserratan
 Puerto Rican
 St. Lucian
 Arawak
 Trinidadian/Tobagonian
 Vincentian/Grenadinian
 West Indian; n.o.s.
 Caribbean origins; n.i.e.
 Latin; Central and South American origins
 Aboriginal from Central/South America (except Arawak and Maya)
 Argentinian
 Belizean
 Bolivian
 Brazilian
 Chilean
 Colombian
 Costa Rican
 Ecuadorian
 Guatemalan
 Guyanese
 Hispanic
 Honduran
 Maya
 Beninese
 Mexican
 Nicaraguan
 Panamanian
 Paraguayan
 Peruvian
 Salvadorean
 Uruguayan
 Venezuelan
 Latin; Central and South American origins; n.i.e.
 African origins
 Central and West African origins
 Akan
 Angolan
 Ashanti
 Burkinabe
 Cameroonian
 Chadian
 Congolese
 Edo
 Ewe
 Gabonese
 Gambian
 Ghanaian
 Guinean
 Ibo
 Ivorian
 Liberian
 Malian
 Malink
 Nigerian
 Peulh
 Senegalese
 Sierra Leonean
 Togolese
 Wolof
 Yoruba
 Central and West African origins; n.i.e.
 Maure
 North African origins
 Algerian
 Berber
 Coptic
 Dinka
 Egyptian
 Libyan
 Moroccan
 Sudanese
 Tunisian
 North African origins; n.i.e.
 Southern and East African origins
 Afrikaner
 Amhara
 Bantu; n.o.s.
 Burundian
 Djiboutian
 Eritrean
 Ethiopian
 Harari
 Kenyan
 Malagasy
 Mauritian
 Oromo
 Rwandan
 Seychellois
 Somali
 South African
 Tanzanian
 Tigrian
 Ugandan
 Zambian
 Zimbabwean
 Zulu
 Southern and East African origins; n.i.e.
 Other African origins
 Black; n.o.s.
 Other African origins; n.i.e.
 Asian origins
 West Central Asian and Middle Eastern origins
 Afghan
 Arab; n.o.s.
 Armenian
 Assyrian
 Azerbaijani
 Georgian
 Hazara
 Iranian
 Hmong
 Iraqi
 Israeli
 Jordanian
 Kazakh
 Kurd
 Kuwaiti
 Kyrgyz
 Maori
 Lebanese
 Palestinian
 Pashtun
 Saudi Arabian
 Syrian
 Tajik
 Tatar
 Turk
 Turkmen
 Uighur
 Uzbek
 Yemeni
 West Central Asian and Middle Eastern origins; n.i.e.
 South Asian origins
 Bangladeshi
 Bengali
 Bhutanese
 East Indian
 Goan
 Gujarati
 Kashmiri
 Nepali
 Pakistani
 Punjabi
 Sinhalese
 Sri Lankan
 Indonesian
 Tamil
 South Asian origins; n.i.e.
 East and Southeast Asian origins
 Burmese
 Cambodian (Khmer)
 Chinese
 Filipino
 Japanese
 Karen
 Korean
 Laotian
 Malaysian
 Mongolian
 Singaporean
 Taiwanese
 Thai
 Tibetan
 Vietnamese
 East and Southeast Asian origins; n.i.e.
 Hawaiian
 Other Asian origins
 Other Asian origins; n.i.e.
 Oceania origins
 Australian
 New Zealander
 Pacific Islands origins
 Fijian
 Polynesian; n.o.s.
 Samoan
 Pacific Islands origins; n.i.e.

In [23]:
data = ['  Under $5,000', '  $5,000 to $9,999', '  $10,000 to $14,999', '  $15,000 to $19,999', '  $20,000 to $24,999', 
                                  '  $25,000 to $29,999', '  $30,000 to $34,999', '  $35,000 to $39,999','  $40,000 to $44,999','  $45,000 to $49,999',
                                  '  $50,000 to $59,999', '  $60,000 to $69,999', '  $70,000 to $79,999', '  $80,000 to $89,999', '  $90,000 to $99,999',
                                  '  $100,000 and over']
IncomeProfile = NPdf.loc[:,data]

#Creating new dataframe specifically for Income Profile from Neighbourhood Profile dataframe

In [24]:
IncomeProfile

Characteristic,"Under $5,000","$5,000 to $9,999","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $69,999","$70,000 to $79,999","$80,000 to $89,999","$90,000 to $99,999","$100,000 and over"
City of Toronto,"33,195","23,455","36,550","54,025","47,315","47,500","46,945","47,115","46,285","44,650","84,180","76,120","68,190","60,400","53,485","343,520"
Agincourt North,155,105,160,450,320,540,420,455,420,435,800,700,635,525,515,"2,505"
Agincourt South-Malvern West,315,140,195,265,315,400,370,385,370,415,770,645,595,510,405,"2,030"
Alderwood,55,45,80,90,145,150,155,170,160,165,335,300,320,275,250,"1,915"
Annex,850,485,655,740,620,530,525,555,540,505,"1,000",900,795,715,605,"5,895"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wychwood,120,120,185,395,325,270,225,225,225,225,400,390,315,300,275,"1,895"
Yonge-Eglinton,205,105,145,175,175,170,190,210,195,180,370,375,325,275,245,"2,340"
Yonge-St.Clair,215,120,185,220,225,220,215,235,260,260,505,445,415,340,325,"2,865"
York University Heights,345,230,340,520,525,525,590,570,530,530,950,845,615,605,515,"1,955"
Yorkdale-Glen Park,100,65,120,220,245,240,290,275,280,230,470,370,360,295,235,"1,550"

In [25]:
IncomeProfile.columns

Index(['  Under $5,000', '  $5,000 to $9,999', '  $10,000 to $14,999',
       '  $15,000 to $19,999', '  $20,000 to $24,999', '  $25,000 to $29,999',
       '  $30,000 to $34,999', '  $35,000 to $39,999', '  $40,000 to $44,999',
       '  $45,000 to $49,999', '  $50,000 to $59,999', '  $60,000 to $69,999',
       '  $70,000 to $79,999', '  $80,000 to $89,999', '  $90,000 to $99,999',
       '  $100,000 and over'],
      dtype='object', name='Characteristic')

In [26]:
IncomeProfile.dtypes

Characteristic
  Under $5,000          object
  $5,000 to $9,999      object
  $10,000 to $14,999    object
  $15,000 to $19,999    object
  $20,000 to $24,999    object
  $25,000 to $29,999    object
  $30,000 to $34,999    object
  $35,000 to $39,999    object
  $40,000 to $44,999    object
  $45,000 to $49,999    object
  $50,000 to $59,999    object
  $60,000 to $69,999    object
  $70,000 to $79,999    object
  $80,000 to $89,999    object
  $90,000 to $99,999    object
  $100,000 and over     object
dtype: object

In [27]:
IncomeProfile = IncomeProfile.replace(',', '', regex=True)

#Fixing cell values of IncomeProfile
#Removing the ',' in cell values

In [28]:
c = IncomeProfile.select_dtypes(object).columns
IncomeProfile[c] = IncomeProfile[c].apply(pd.to_numeric,errors='coerce')

#Converting cell values from object into integer

In [29]:
IncomeProfile.dtypes

Characteristic
  Under $5,000          int64
  $5,000 to $9,999      int64
  $10,000 to $14,999    int64
  $15,000 to $19,999    int64
  $20,000 to $24,999    int64
  $25,000 to $29,999    int64
  $30,000 to $34,999    int64
  $35,000 to $39,999    int64
  $40,000 to $44,999    int64
  $45,000 to $49,999    int64
  $50,000 to $59,999    int64
  $60,000 to $69,999    int64
  $70,000 to $79,999    int64
  $80,000 to $89,999    int64
  $90,000 to $99,999    int64
  $100,000 and over     int64
dtype: object

In [30]:
IncomeProfile.index

Index(['City of Toronto', 'Agincourt North', 'Agincourt South-Malvern West',
       'Alderwood', 'Annex', 'Banbury-Don Mills', 'Bathurst Manor',
       'Bay Street Corridor', 'Bayview Village', 'Bayview Woods-Steeles',
       ...
       'Willowdale West', 'Willowridge-Martingrove-Richview', 'Woburn',
       'Woodbine Corridor', 'Woodbine-Lumsden', 'Wychwood', 'Yonge-Eglinton',
       'Yonge-St.Clair', 'York University Heights', 'Yorkdale-Glen Park'],
      dtype='object', length=141)

In [31]:
medians = IncomeProfile.median(axis=1)
print ("Median income of each Toronto neighbourhood:")
print(medians)

#Calculating median income for each neighbourhood

Median income of each Toronto neighbourhood:
City of Toronto                 47407.5
Agincourt North                   452.5
Agincourt South-Malvern West      392.5
Alderwood                         162.5
Annex                             637.5
                                 ...
Wychwood                          272.5
Yonge-Eglinton                    200.0
Yonge-St.Clair                    247.5
York University Heights           530.0
Yorkdale-Glen Park                260.0
Length: 141, dtype: float64

In [32]:
IncomeProfile = IncomeProfile.T

In [33]:
IncomeProfile

,City of Toronto,Agincourt North,Agincourt South-Malvern West,Alderwood,Annex,Banbury-Don Mills,Bathurst Manor,Bay Street Corridor,Bayview Village,Bayview Woods-Steeles,...,Willowdale West,Willowridge-Martingrove-Richview,Woburn,Woodbine Corridor,Woodbine-Lumsden,Wychwood,Yonge-Eglinton,Yonge-St.Clair,York University Heights,Yorkdale-Glen Park
Characteristic,,,,,,,,,,,,,,,,,,,,,
"Under $5,000",33195,155,315,55,850,265,130,2510,585,90,...,560,90,435,65,55,120,205,215,345,100
"$5,000 to $9,999",23455,105,140,45,485,155,85,735,260,70,...,225,85,455,125,65,120,105,120,230,65
"$10,000 to $14,999",36550,160,195,80,655,235,155,740,290,80,...,250,155,685,265,105,185,145,185,340,120
"$15,000 to $19,999",54025,450,265,90,740,400,415,690,330,130,...,605,295,1170,315,195,395,175,220,520,220
"$20,000 to $24,999",47315,320,315,145,620,395,245,580,365,200,...,325,365,825,275,150,325,175,225,525,245
"$25,000 to $29,999",47500,540,400,150,530,445,230,560,370,170,...,315,395,960,190,135,270,170,220,525,240
"$30,000 to $34,999",46945,420,370,155,525,405,220,490,360,205,...,285,375,910,225,110,225,190,215,590,290
"$35,000 to $39,999",47115,455,385,170,555,470,255,515,330,180,...,245,375,950,160,130,225,210,235,570,275
"$40,000 to $44,999",46285,420,370,160,540,460,240,440,350,200,...,265,380,955,190,115,225,195,260,530,280
"$45,000 to $49,999",44650,435,415,165,505,400,245,410,335,165,...,240,370,815,180,115,225,180,260,530,230
"$50,000 to $59,999",84180,800,770,335,1000,930,400,850,650,330,...,440,630,1725,295,245,400,370,505,950,470
"$60,000 to $69,999",76120,700,645,300,900,885,430,840,655,290,...,390,610,1405,290,205,390,375,445,845,370
"$70,000 to $79,999",68190,635,595,320,795,780,390,815,615,265,...,375,555,1240,235,200,315,325,415,615,360
"$80,000 to $89,999",60400,525,510,275,715,655,310,705,520,255,...,375,510,1070,235,185,300,275,340,605,295
"$90,000 to $99,999",53485,515,405,250,605,605,300,570,495,250,...,335,435,865,220,195,275,245,325,515,235
"$100,000 and over",343520,2505,2030,1915,5895,4615,2025,3600,3010,1830,...,2320,2895,3980,2190,1245,1895,2340,2865,1955,1550

In [34]:
IncomeProfile.plot(kind='bar', x=list(IncomeProfile.index), y='City of Toronto')

KeyError: "None of [Index(['  Under $5,000', '  $5,000 to $9,999', '  $10,000 to $14,999',\n       '  $15,000 to $19,999', '  $20,000 to $24,999', '  $25,000 to $29,999',\n       '  $30,000 to $34,999', '  $35,000 to $39,999', '  $40,000 to $44,999',\n       '  $45,000 to $49,999', '  $50,000 to $59,999', '  $60,000 to $69,999',\n       '  $70,000 to $79,999', '  $80,000 to $89,999', '  $90,000 to $99,999',\n       '  $100,000 and over'],\n      dtype='object')] are in the [columns]"